/.idea
tp_03_integrador/target/classes/controllers/EstudianteController.class
tp_03_integrador/target/classes/org/example/Main.class
tp_03_integrador/target/classes/repositories/JpaEstudianteRepository.class
tp_03_integrador/target/classes/services/EstudianteServicio.class
tp_03_integrador/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
tp_03_integrador/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
tp_03_integrador/target/tp_03_integrador-1.0-SNAPSHOT.jar
tp_03_integrador/target/tp_03_integrador-1.0-SNAPSHOT.jar.original
tp_03_integrador/target/classes/controllers/EstudianteController.class
tp_03_integrador/target/classes/org/example/Main.class
tp_03_integrador/target/classes/repositories/JpaEstudianteRepository.class
tp_03_integrador/target/classes/services/EstudianteServicio.class
tp_03_integrador/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
tp_03_integrador/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
tp_03_integrador/target/tp_03_integrador-1.0-SNAPSHOT.jar
*.class
tp_03_integrador/target/tp_03_integrador-1.0-SNAPSHOT.jar
tp_03_integrador/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
tp_03_integrador/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
tp_03_integrador/target/classes/services/EstudianteServicio.class
tp_03_integrador/target/classes/repositories/JpaEstudianteRepository.class
tp_03_integrador/target/classes/org/example/Main.class
tp_03_integrador/target/classes/controllers/EstudianteController.class
